snippet aasm "State machine" !b
aasm column: :${1:state} do
	state :${2:new}${3:, initial: true}
end
endsnippet

snippet state "aasm state" !b
state :${1:pending}${2:, initial: true}
endsnippet

snippet event "aasm event" !b
event :${1:process} do
	transitions :to => :${2:pending}, :from => [ :${3:new} ]
end
endsnippet
