snippet light "Light theme" !b
<style name="AppTheme" parent="android:Theme.Light" />
endsnippet

snippet holo "Holo Light theme" !b
<style name="AppTheme" parent="android:Theme.Holo.Light.DarkActionBar" />
endsnippet

snippet theme "Set Android theme" !b
android:theme="@style/AppTheme" >
endsnippet


snippet ver "Set SDK version" !b
<uses-sdk
	android:minSdkVersion="8"
	android:targetSdkVersion="16" />
endsnippet
