[submodule "runtime/theonevimlib"]
	path = runtime/theonevimlib
	url = git://github.com/fishman/theonevimlib.git
[submodule "runtime/snipMate"]
	path = runtime/snipMate
	url = git://github.com/fishman/snipmate.vim.git
[submodule "snippets"]
	path = snippets
	url = git://github.com/fishman/snipmate-snippets.git
[submodule "runtime/nerdsnippets"]
	path = runtime/nerdsnippets
	url = git://github.com/fishman/nerdsnippets.git
[submodule "runtime/git-vim"]
	path = runtime/git-vim
	url = git://github.com/bartman/git-vim.git
[submodule "runtime/cocoa.vim"]
	path = runtime/cocoa.vim
	url = git://github.com/threeve/cocoa.vim.git
[submodule "runtime/hypergit.vim"]
	path = runtime/hypergit.vim
	url = git://github.com/c9s/hypergit.vim.git
[submodule "runtime/commandt"]
	path = runtime/commandt
	url = git://github.com/wincent/Command-T.git
