[submodule "snippets"]
  path = snippets
  url = git@github.com:fishman/snippets.git

[submodule "runtime/vim-ruby"]
  path = runtime/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git

[submodule "runtime/vim-rails"]
  path = runtime/vim-rails
  url = git://github.com/tpope/vim-rails.git 

[submodule "runtime/nerdcommenter"]
  path = runtime/nerdcommenter
  url = git://github.com/scrooloose/nerdcommenter.git

[submodule "runtime/nerdsnippets"]
  path = runtime/nerdsnippets
  url = git://github.com/scrooloose/nerdsnippets.git

[submodule "runtime/csapprox"]
  path = runtime/csapprox
  url = git://github.com/godlygeek/csapprox.git

[submodule "runtime/netlib"]
  path = runtime/netlib
  url = git://github.com/godlygeek/netlib.git

[submodule "runtime/theonevimlib"]
  path = runtime/theonevimlib
  url = git://github.com/MarcWeber/theonevimlib.git

[submodule "runtime/snipMate"]
  path = runtime/snipMate
  url = git@github.com:fishman/snipmate.vim.git
